@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    display: flex;    
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;

    background-color: #1f1f1f;
    margin: 0px;
    height: 100vh;
    width: 100%;

    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

p{
    margin: 0vh;
    line-height: 1em;
}

svg{
    margin-right: 1vh;
    width: 3.5vh;
    height: 3.5vh;
}

div.header{
    width: 80%;
    margin: 5vh 0vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#avatar{
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    border: 0.6vh solid rgb(255, 255, 255) ;
}

#presentation{
    height: 20vh;
    margin-left: 4vh;
    padding-left: 4vh;
    border-left: 0.3vh solid white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.text{
    color: white;
}

#name{
    font-weight: 700;
    font-size: 5vh;
    margin-bottom: 1.3vh;
}

#description{
    font-weight: 300;
    line-height: 1.1em;
    font-size: 2.7vh;
}

div.anchors{
    width: 80%;
    margin: 5vh 0vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vh;
    height: 6.8vh;
    font-size: 2.3vh;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-bottom: 2vh;
    box-shadow: 0vh 0.4vh 1vh 0.4vh rgb(19, 19, 19, 0.5);
}

.link:hover{
    opacity: .60;
}

.link:active{
    width: 42vh;
    height: 8vh;
}

.link:focus{
    border: 0.3vh solid white;
}

#instagram{
    background-image: linear-gradient(to right, #ff536f 0%, #fc3185 100%);
}

#twitter{
    background-color: #1DA1F2;
}

#whatsapp{
    background-color: #25D366;
}

#spotify{
    background-color: #1ed760;
}

#discord{
    background-color: #7289DA;
}

#github{
    background-color: black;
}

#linkedin{
    background-color: #0a66c2;
}

#calendly{
    background-color: #006bff;
}

#medium{
    background-color: black;
}

/*#bible{
    background-color: #FF3D4D;
}*/

#email{
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 0px;
    border: none;
    background-color: #d44638;
}

/*#buy-me-a-coffee{
    background-color: #fd0;
    color:black;
}*/

div.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 2vh;
    padding: 3vh 0vh;
}

#copyright{
    font-weight: 500;
}

#project-link{
    font-weight: 300;
    color: rgb(255, 220, 63);
}

#project-link:hover{
    color: rgb(88, 38, 168);
}

#project-link:active{
    font-weight: 500;
}

#project-link:focus{
    font-weight: 500;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgb(19, 19, 19, 0.4);
}

.modal-content{
    background-color: rgb(19, 19, 19);
    margin: 25vh auto;
    padding: 3vh;
    border: 0.5vh solid white;
    width: 80%;
    border-radius: 8px;
    color: white;
    line-height:4vh;
}

.modal-header{
    display: flex;
    align-items: center;
    margin-bottom: 5vh;
    margin-top: 1vh;
}

.modal-header h2{
    font-size: 4vh;
}

.modal-header span{
    text-align: right;
    margin-left: auto;
}

.modal-header h2{
    margin: 0px;
}

.modal-body{
    display: grid;
    grid-template-rows: 50% 50%;
    grid-row-gap: 1.5vh;
    margin-bottom: 3vh;
}

.modal-body p{
    font-size: 2.3vh;
    font-weight: 300;
}

.modal-body h4{
    font-weight: 600;
    font-size: 2.8vh;
}

.modal-body p, h4{
    margin: 0px;
}

.modal-body svg{
    width: 2.6vh;
    height: 2.6vh;
}

.grid-block-title{
    display: flex;
    align-items:center;
}

.grid-block-title svg{
    margin-left: 1.5vh;
}

.mailto{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vh;
    height: 5vh;
    font-size: 2.15vh;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    text-decoration: none;
    box-shadow: 0vh 0.4vh 1vh 0.4vh rgb(19, 19, 19, 0.5);
    margin-top: 2vh;
    background-color: rgb(119, 0, 255);
}

.close{
    color: white;
    float: right;
    font-size: 3.5vh;
    opacity: .5;
}

.close:hover{
    color: rgb(0, 0, 0, 1);
    cursor: pointer;
}

.close:active, .close:focus{
    color: white;
    text-decoration: bold;
}

